<!DOCTYPE html>
<html>
<head>
    <title>Problems#1,2</title>
    <style>

        p.season-name {
            text-decoration: underline;
        }

        .user > p > span {
            font-weight: bold;
            margin-right: 5px;
        }

        .season {
            margin-left: 40px;
        }

        .point {
            margin-left: 2px;
        }
    </style>

    <script>
        window.onload = function () {

            var sumOfPoints = 0;
            var gpa = document.getElementById('gpa');
            var pointsEls = document.getElementsByClassName('point');
            var value = 0;
            for (var i = 0; i < pointsEls.length; i++) {
                value = parseFloat(pointsEls[i].getAttribute('data-value'));
                sumOfPoints += value;
            }
            gpa.innerHTML = gpa.innerHTML + (sumOfPoints / i).toPrecision(3);

        };
    </script>
</head>
<body>
<?php

function idNumber($number)
{
    $res = '';
    for ($i = 0; $i < strlen($number); $i += 3) {
        if ($i == strlen($number) - 3) {
            $res .= substr($number, $i, 3);
        } else {
            $res .= substr($number, $i, 3) . '-';
        }
    }

    return $res;
}
?>

<?php foreach ($person as $p): ?>
    <div class="user">
        <p><span>Name:</span><?= $p->personName ?></p>

        <p><span>Id:</span><?= idNumber($p->personId) ?></p>

        <p id="gpa"><span>GPA:</span></p>

        <p><span>Major:</span><?= $p->majorName ?></p>
    </div>
<?php endforeach; ?>


<p class="season-name">Winter 2013

<p>

<div class="season">
    <?php foreach ($winter as $w): ?>
        <p><?= $w->subjectName ?><span class="point" data-value="<?= $w->pointValue ?>"><?= $w->point ?></span></p>
    <?php endforeach; ?>
</div>


<p class="season-name">Fall 2012

<p>

<div class="season">
    <?php foreach ($fall as $f): ?>
        <p><?= $f->subjectName ?><span class="point" data-value="<?= $f->pointValue ?>"><?= $f->point ?></span></p>
    <?php endforeach; ?>
</div>


<p class="season-name">Spring 2012

<p>

<div class="season">
    <?php foreach ($spring as $s): ?>
        <p><?= $s->subjectName ?><span class="point" data-value="<?= $s->pointValue ?>"><?= $s->point ?></span></p>
    <?php endforeach; ?>
</div>
</body>
</html>